---
import RootLayout from "@/components/RootLayout.astro";
import { Button } from "@/components/ui/button";
---

<RootLayout title="Home">
		<h1 class="underline text-red-800">Title</h1>
		<Button>test</Button>
</RootLayout>
