---
import { config } from "@/config";

const { name, navigation } = config;
const links = navigation.footer;
---

<footer class="border-border border-t">
  <div
    class="mx-auto flex max-w-5xl flex-col items-center gap-2 px-4 py-4 sm:flex-row sm:justify-between sm:gap-0"
  >
    <p class="text-muted-foreground text-sm">
      &copy; {name}
      {new Date().getFullYear()}
    </p>
    {
      links.length > 0 && (
        <nav aria-label="Footer-Navigation">
          <ul class="flex flex-wrap items-center justify-center gap-4 sm:gap-6">
            {links.map((link) => (
              <li>
                <a
                  href={link.href}
                  class="text-muted-foreground hover:text-foreground text-sm transition-colors"
                >
                  {link.label}
                </a>
              </li>
            ))}
          </ul>
        </nav>
      )
    }
  </div>
</footer>
