---
import "../styles/global.css";
import { Font } from "astro:assets";
import { TooltipProvider } from "./ui/tooltip";
import Header from "./Header.astro";
import Footer from "./Footer.astro";

interface Props {
	title?: string;
}

const { title = "Webseite" } = Astro.props;
---

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<Font cssVariable="--font-inter" />
		<title>{title}</title>
	</head>
	<body class="flex min-h-screen flex-col">
		<TooltipProvider>
			<Header />
			<main class="flex flex-1 flex-col">
				<slot />
			</main>
			<Footer />
		</TooltipProvider>
	</body>
</html>
